body {
  align-items: center;
  text-align: center;
  background-color: #103c42;
}

/*Top container*/
.dark-top-container {
  background-color: #02576c;
}

.dark-welcomeText {
  font-family: Sacramento, cursive, sans-serif;
}

.dark-portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.dark-menu {
  background-color: #05a19c;
}

.dark-menuItem {
  margin: 10px;
  color: #ffe837;
}

/*Top container END*/
/*Middle container*/
.dark-middle-container {
  background-color: #05a19c;
  font-family: sans-serif;
  padding: 0;
}

/*Middle container END*/
/*Bottom container*/
.dark-bottom-container {
  background-color: #ffe837;
  color: #eeeeee;
}

/*Bottom container END*/
table, th, td {
  border: 5px dashed #ffe837;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

.dark-gundamgif {
  border-radius: 15%;
  border: 7px dashed #ffe837;
}

.dark-middle-container-hobbies {
  font-family: sans-serif;
  font-weight: bolder;
  padding: 0;
  color: #ffe837;
}

.dark-gunplapic {
  width: auto;
  height: 500px;
  border-radius: 15%;
  border: 7px dashed #ffe837;
}

.dark-link {
  color: white;
}
