body {
  align-items: center;
  text-align: center;
  background-color: #dedede;
}


/*Top container*/
.top-container {
  background-color: #dedede;
}

.welcomeText {
  font-family: Sacramento, cursive, sans-serif;
}

.portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.menu {
  background-color: #ff4949;
}

.menuItem {
  margin: 10px;
  color: black;
  color: #eeeeee;
}

/*Top container END*/
/*Middle container*/
.middle-container {
  background-color: #eeeeee;
  font-family: sans-serif;
padding: 0;
}

.storetable{
  border: 7px solid #c10000;
}
.compStoreImg {
  background-color: black;
  width: 150px;
  height: 150px;
}



/*Middle container END*/
/*Bottom container*/
.bottom-container {
  background-color: #c10000;
  color: #eeeeee;
}

/*Bottom container END*/


table, th, td {

  border: 5px solid #c10000;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
}

.gundamgif{
  border-radius: 15%;
  border: 7px dashed #c10000;
}

.middle-container-hobbies {
  font-family: sans-serif;
  font-weight: bolder;
  padding: 0;
}

.gunplapic {
  width: auto;
  height: 500px;
  border-radius: 15%;
  border: 7px dashed #c10000;


}

.storetable{
  border: 7px solid #c10000;
}
.compStoreImg {
  background-color: black;
  width: 150px;
  height: 150px;
}
